:root {
    --background: #15202b;
    --text: #eeeeee;
    --text-dark: #888888;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: None;
    color: var(--text);
}

/* ContainerTree */
table.container-tree {
    border-collapse: collapse;
}

table.container-tree > tr:first-child {
    cursor: pointer;
}

table.container-tree > tr:not(:first-child) > td:first-child {
    border-right: 1px solid var(--text-dark);
}

table.container-tree img {
    -webkit-filter: grayscale(100%) invert(100%); /* Safari 6.0 - 9.0 */
    filter: invert(100%);
}

table.container-tree img.closed-caret {
    transform: rotate(-90deg);
}

.darker {
    color: var(--text-dark)!important;
}

.seperator {
    background-color: var(--text-dark);
}
