{% extends "base.html" %}
{% block body %}
    <form method="post">
        <div class="flex-vertical">
            {% csrf_token %}
            <h1>{{ item }}</h1>
            {% for key, value in template_attrs %}
                <div>
                    <label for="{{ key }}">
                        {{ key }}:
                    </label>
                    <input id="{{ key }}" name="set_{{ key }}" value="{{ value }}">
                </div>
            {% endfor %}
            <h2>Additional Attributes</h2>
            {% for key, value in additional_attrs %}
                <div>
                    <label for="{{ key }}">
                        {{ key }}:
                    </label>
                    <input id="{{ key }}" name="set_{{ key }}" value="{{ value }}">
                    <button onclick="deleteAttribute('{{ key }}'); return false;">Remove</button>
                </div>
            {% endfor %}
            <div id="add_attrs">
                <label><input id="attr_name" type="text"></label>
                <button onclick="addAttribute(); return false;">Add</button>
            </div>
            <input type="submit" value="Save">
        </div>
    </form>

    <script>
    function addAttribute() {
        var nameInput = document.getElementById("attr_name");
        var attr = nameInput.value;
        nameInput.value = "";
        if (attr === "") {
            return;
        }

        var existing = document.getElementById(attr);
        if ((existing !== null) && (existing.type !== "hidden")) {
            return;
        }

        var div = document.createElement("div");
        var label = document.createElement("label");
        var input = document.createElement("input");
        var button = document.createElement("button");
        label.for = attr;
        label.innerText = attr + ":";
        input.id = attr;
        input.name = "set_" + attr;
        button.onclick = function () { deleteAttribute(attr); return false; };
        button.innerText = "Remove";
        div.appendChild(label);
        div.appendChild(input);
        div.appendChild(button);

        if (existing === null) {
            var addForm = document.getElementById("add_attrs");
            addForm.parentElement.insertBefore(div, addForm);
        } else {
            existing.replaceWith(div);
        }
    }

    function deleteAttribute(attr) {
        var deleteFlag = document.createElement("input");
        deleteFlag.id = attr;
        deleteFlag.name = "delete_" + attr;
        deleteFlag.type = "hidden";
        document.getElementById(attr).parentElement.replaceWith(deleteFlag);
    }
    </script>
{% endblock %}